*.png
!calipod/gui/icons/connectors/
!calipod/gui/icons/connectors/*.png
*.log
*.json
*.pyc
**/__pycache__/
.vscode*
.idea*
*.bz2
.venv*
*.pkl
*tar.gz
*.whl
dist/*
*.epgz
*.pdf
tests/sessions_copy_delete/*
dev/sessions_copy_delete/*
dev/sample_sessions*
*.nbi
*.nbc
*.csv
*config.toml
*.xlsx
caliscope/_version.py
caliscope.code-workspace
site/*
_version.py
cali_env/*
bin/*
lib/*
pyvenv.cfg
lib64
share/
.lock
